[build]
  base = "frontend/supplychain-frontend"
  publish = "frontend/supplychain-frontend/build"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  NPM_VERSION = "9"